<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Graas</title>
    <meta
      name="description"
      content="You touch grass. Let them know. Graas is fedi's number 1 grass-touching verification service."
    />
    <meta itemprop="name" content="Graas" />
    <meta
      itemprop="description"
      content="You touch grass. Let them know. Graas is fedi's number 1 grass-touching verification service."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Graas" />
    <meta
      name="twitter:description"
      content="You touch grass. Let them know. Graas is fedi's number 1 grass-touching verification service."
    />
    <meta
      name="twitter:image:src"
      content="/og.png"
    />
    <meta name="og:title" content="Graas" />
    <meta
      name="og:description"
      content="You touch grass. Let them know. Graas is fedi's number 1 grass-touching verification service."
    />
    <meta
      name="og:image"
      content="/og.png"
    />
    <meta name="og:locale" content="en" />
    <meta name="og:type" content="website" />
    <meta name="theme-color" content="#09bf5e" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="me" href="<%= account %>" />
  </head>
  <body>
    <header>
      <svg
        id="hills"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        preserveAspectRatio="none"
      >
        <path
          fill-opacity="1"
          d="M0,192L80,181.3C160,171,320,149,480,154.7C640,160,800,192,960,202.7C1120,213,1280,203,1360,197.3L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
        ></path>
      </svg>
      <h1>You touch grass.<br />Let them know.</h1>
      <p>Graas is fedi's number 1 grass-touching verification service.</p>
      <form action="/verify">
        <input
          type="text"
          name="handle"
          placeholder="@username@instance.tld"
          pattern="^@?[^@]+@[^@]+$"
          required
        />
        <button class="cta" id="login">Get Verified</button>
      </form>
    </header>
  </body>
</html>
